.login-form{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.login-form .inputbox{
	width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 20px;
}
.login-form .form-inputtext-space{
	margin-top: 25px;
}
 .login-form .form-button-space{
	margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form .form-button-space .btn-primary {
	border-color: #005cbf;
    width: 20%;
    height: 50px;
    border-radius: 50px;	
    font-size: 20px;
}
 .login-form .form-button-space a{
	float: right;
    margin-right: 15px;
    font-size: 16px;
}

.login-form .form-div{
    width: 100%;
}
 